version: "3.8"

services:
  loki:
    image: grafana/loki:2.9.4
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  grafana:
    image: grafana/grafana:10.2.3
    ports:
      - "3000:3000"
    depends_on:
      - loki
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin

  fluent-bit:
    image: fluent/fluent-bit:2.2
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./fluent-bit/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
    depends_on:
      - loki


  app:
    build:
      context: ../..
      dockerfile: Dockerfile
    container_name: todo-api
    ports:
      - "8080:8080"
    depends_on:
      - fluent-bit
    environment:
      - NODE_ENV=production
      - FLUENT_HOST=fluent-bit
